header{
    height: 80px;
    background-color: teal;

}

.main_title{
    text-align: center;

  }

  .naralogo{
    display:block;
    margin-top: 40px;
    justify-content: center;
    
   }  

/*estilos en mobile*/
@media (max-width: 641px) {
    .naralogo img {
 
        display:block;
        margin-left: auto;
        margin-right: auto;
        height: 70px;
        width: 70px; 
        margin-top: 20px;
        
      
      }

      .contenedor{
        width: 80%;
        margin: 0 auto;
        align-items: center;
        height: 100%;
        
       }   

       .lista_guia{

        list-style-type: none; /* Elimina los puntos de la lista */
        padding: 0;
        display: grid;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; 
    
    }

}

/*estilos en Desktop*/
 
@media (min-width: 642px) {
  
    .contenedor{
        width: 80%;
        margin: 0 auto;
        align-items: center;
        height: 100%;
        
       }

       .naralogo img{
 
        display:block;
        margin-left: auto;
        margin-right: auto;
        height: 250px;
        width: 250px; 
        margin-top: 20px;}
    
        .lista_guia{

            list-style-type: none; /* Elimina los puntos de la lista */
            padding: 0;
            display: grid;
            justify-content: center; /* Centra horizontalmente */
            align-items: center; 
        
        }
    
    
    
    }